<!--The content below is only a placeholder and can be replaced.-->
<h1>Project Manager</h1>
<br/>


<nav class="navbar "> 
    <div class="col-sm-2">
      <li class="nav-item " style="list-style-type:none;">  
        <a routerLink="app-add-project" class="nav-link" class="btn btn-primary" role="button" >Add Project</a>  
      </li> 
    </div>
    <div class="col-sm-2" style="list-style-type:none;">  
      <li class="nav-item">  
        <a routerLink="app-add-task" class="nav-link" class="btn btn-primary" role="button" >Add Task</a>  
      </li>
    </div> 
    <div class="col-sm-2" style="list-style-type:none;">  
      <li class="nav-item">  
        <a routerLink="app-add-user" class="nav-link" class="btn btn-primary" role="button" >Add User</a>  
      </li>
    </div> 
    <div class="col-sm-2" style="list-style-type:none;">  
      <li class="nav-item">  
        <a routerLink="app-view-task" class="nav-link" class="btn btn-primary" role="button" >View Task</a>  
      </li>
    </div>            
  
  </nav>
  <br/>

<router-outlet></router-outlet>
